label {
    width:200px;
    display: inline-block;
    float: left;
}
input, textarea {
    display: inline-block;
}
.output{
	font-family: monospace;
	white-space: pre-line;
	border:1px solid #ccc;
	background: #eee;
	min-height: 50px;
}

h3{
	margin-top: 0;
	padding: 0;
}